In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# generating data by normal distribution 
n = 10000
mu = 10
std = 2
population = np.random.normal(mu,std,n)
def  random_sample(df,n):
  sample = np.random.choice(df,replace = False , size = n)
  return sample
print(random_sample(population , 1000))

In [ ]:
print(random_sample(population , 1000))

[ 8.31453988  9.20907776  7.46538325 10.61432569  6.47873552 10.17836257
  7.11130385  9.870277   10.76421246 11.51090016 10.77614977  6.13793713
  9.18607412  9.45896927  9.21717386  7.46336835 10.98789141  8.70644316
 14.30343058  3.99398625  7.13731993 13.01486204  9.24452848 10.95558492
 11.09702497  8.95393197 11.03446046 10.78194357 10.63364393 11.70950857
  9.71117777 10.05348786 11.97054319 10.26561178  9.89797712  8.58580394
 11.28780586  9.27722666 10.73543872 10.46927222 12.19135389 14.29287163
 10.09311572 12.18688355 12.99161837 11.2818904  13.82944218 11.52306378
 10.02944181  7.50168491 11.24557308 10.35312639  8.57675154  7.89939675
 11.41726276  9.42753468 10.95883299  9.84916454  6.45542899  6.29744498
  8.09981948  9.14552952  9.02265601  9.0661186   9.61134696 10.61899339
 10.246125    9.58851812 11.26891698 11.82274158  9.88973292  9.67124468
  7.59409529  9.89298379 10.71716769  9.80389795  9.74865655  9.33954067
  8.84987658 11.71333008 12.72277566  8.89929176 12.2049113  10.98660653
  8.88386788 10.06258008  9.30416904  7.04914384 11.04566435  9.19516577
 10.12977277  7.33319372  6.4735522   9.20234011 10.07089833 10.0950558
  7.68216129  8.13579362  6.45099137 10.47586237 10.73446073 11.71368522
  8.64160437 13.37735455 10.75556867  6.02889838  9.86879779 11.12352511
  4.83841324  8.32165349  7.94624639  9.89046905  9.03204256 10.19488672
 10.51203895  9.57073053 11.34356864 12.10210801  9.39213378  8.56044831
 11.22265416  8.94224076  7.93543343 10.18147508 13.57720358 10.46084727
 14.94710519 13.45669571  9.29387315 10.39529042 12.58272056 12.26521152
 10.43222298 10.58936219 11.589777    9.95046328  8.27502797 13.31578005
  8.48581176  8.83430658  8.07763874  8.60224228 10.26660787 13.42587122
 12.2149176  10.15358485 10.11994082 11.18366015  9.81318582  8.46719411
  8.82669544 13.97477592 10.88737908 11.55815784 10.10346126  9.35515372
 10.96770809  8.82505278 11.01796782 11.44076808  8.90515128 12.69615629
 13.00333568  6.84929959  6.49418099 14.16829555  9.04117285  7.0987144
  6.18335266  9.23904018  7.25983654 13.42078936  9.3391182   9.71892022
  8.4409409  11.51160045 11.17899977  9.45767401 10.9136677   8.59200842
 10.90244437  9.65766353  8.12086508 10.84225517  6.12740532 12.38834859
 10.36036976 10.08444945  9.98187807 11.3430325   9.84227432  7.8965193
 10.9310237   9.39410727 11.09359262 11.33924653 10.80983147 10.93813678
 12.09449125  9.52352488  8.41980421 13.75058872 10.5980765   9.98618441
  9.23942305  8.73816995  8.99340771 10.32802836  8.74996471 10.40938597
  4.51911532 11.58293069  7.72748506  8.48225195 11.01329227  8.33907471
 11.07589035  7.76427614  9.13052391 11.00167715  9.83402448 10.71263277
  8.17635851 12.52789674  9.17906662  9.27979001  9.82355928  9.30279252
  9.48750391 11.57763676  7.93000502 12.7178889  10.62996611  5.29733473
  9.87156256  9.3221011  12.77903019  7.86423988  8.17932886 11.10288422
 11.41123061 10.47581828  9.92279756 10.8850642   7.75314486  6.90216733
 12.98655666 10.35963783  8.70678278  8.63447552 12.56392927  8.658066
  7.84769686 10.76135671 12.08035521  8.73184077 10.63102224  9.36005483
  9.3212003  13.28914313 10.83453784 14.46193249 12.29405107  9.15948215
 12.12555192  9.48701658  8.08098043  8.2051291   9.75428271 12.35011906
 12.79070249 10.70698074  8.80467331 11.53859406  8.21957777  9.12517591
 11.56434918  9.71405923 10.77083208 12.33454395 11.7165273  10.86787942
 10.89324717 12.65353949 10.31802567  8.29439113 13.87981486  9.2020641
  8.89023838  7.17813118  7.25566079 11.63170125  7.66213224 11.70904288
  9.66123805 12.47470298 10.57499771  6.68365444  7.83138428 10.11005838
 10.40369994 11.3797988   8.01899622  9.47564095 10.97453465  5.77527805
  9.43188472  9.46527098  7.92719318  9.7660354   6.41823847  8.91884004
 10.13184383 11.44205042  8.57628921 10.06460119 12.69969805  9.9153319
  9.37556166  9.74802979 12.51300006  9.6402236  11.82594536 15.55681145
  8.51435567 12.38542415 12.1992641  10.64543662  9.32555201 10.56918915
 10.09042863  6.55700369  9.5106161   8.46551668 11.94274479 10.91408194
  8.17612158  9.66026753  8.08463262 11.8537704  11.07610984  6.13333908
 10.58083744  8.04428035  8.45968989 10.1704533  12.20525799 12.94226221
 10.55349623 14.32975216 11.38357661  8.733704    8.84714182  7.31561485
 12.30955186 10.57983498  9.82043586  4.57102178  8.8290729  10.11919355
  9.15962745  7.88476831  9.80566079  8.09643214 12.47463752 11.26987732
 12.31872414  8.70721755 13.29814117 11.90134079  9.72776383 10.58609125
  9.43577781 10.15248559  6.52608517 10.26625048  8.9862126  12.34603452
 12.61015122  8.390221    9.77937212  7.0779588   8.57532478  3.47668497
  9.48520015  9.78973288 11.53606215 10.31207921  6.39259128 14.76755367
  9.82099521  8.62281106 11.01273178  6.73758715  8.56204377 10.34631453
  7.92518527 12.45451332 11.09277195  8.67884166 11.47617797  9.22218
  7.51818119  8.56007307  9.19325137  7.21350275 12.73302559 12.51006527
  7.79644756  9.27887756 11.3183984  12.11258622 10.82780254 11.77473987
 12.04354282 10.12898633 12.05959714  4.81527974 10.23133596  9.5371293
  9.46959209  9.82366891 11.49615064  8.98086785  9.13426149  9.76366802
 13.60221827 11.9172685  11.39768671 12.61444473  5.5352319  10.65152062
  8.65721236 10.38431331  9.15839746  6.93647984  9.05552004  9.04085787
  5.55221881  8.49955984 11.16227632  8.8211666   7.95197177 10.47836634
  9.61335599  9.24239515 10.1538351   9.88438001 13.83555114  9.56551289
  9.0581137   7.88454973 11.13891427 12.5429298  11.64684409  9.03324382
  7.44917915 11.37105185  5.3445384   7.42071899  8.77991077 10.53519373
 10.11931137  9.47772639 12.76298585 13.06178598 11.7323709   8.92345172
  9.83203985 11.86318299 10.48564884 10.83927047 14.5127317   9.56825253
 11.80541341 11.22729011 12.24298787  8.95247204  7.83417329  8.61220897
 12.61840107 11.85708731  6.89020273 10.59838779  9.01385701 10.64787665
 10.8028457   9.26048918  8.77700562 14.57362551 11.7212355   8.57106895
  8.48328465 11.82087661 10.4997455  11.51429424 12.6675545   8.0418287
 10.66325126  8.48754606  9.84960335  8.86225729 11.91534325  8.4407593
  8.19747043  9.99851921 10.99478057  8.7487305   8.73823719  8.14628204
 11.95962578 10.59322606 10.15986782  9.20128     7.64294974 11.05345731
 13.53109694  8.44640137 11.74723164 13.80042449 12.61017882 12.12741211
 10.11855475 11.57663309 11.64731322  8.51569597 10.05896594  9.20855906
 10.18657688 12.82790739 13.34433661  9.15016518  6.41385691 11.25199439
 11.49864225 10.50960148  8.04988646  8.09429797  7.70473909  9.624788
 10.78812448  6.7082921   9.01941839 10.72613618  7.25507601  8.38931307
  9.6889507   7.31602222  9.60227553 12.15233445  7.07981895 10.46017046
  9.36976643  9.22089631  9.50173796 10.32751448 10.7047229  10.65717876
  6.40979879  5.59288165 12.05117684  8.49407791 11.16678696 11.39257962
 12.26017787 13.00089207 10.04311887 12.32820209 10.21277245  9.41875126
  7.83419848  8.31725786  9.30384632 11.46731271  7.21507779 10.99032009
  3.71370624 11.59950166 10.92456395  6.33496819  9.86517698 10.55142276
 11.80190489  9.57057755 12.09572065  8.41232411 12.00742909 10.95237362
  8.95112872  7.23461645 10.52868096  9.86526534 10.29427717 11.95249476
  9.83134824  4.88906527  8.42399283 12.23966956 10.72330502 11.85575761
  7.29096449  9.50936773 10.05290519 10.17680469  6.46097141 12.80515204
  9.99691138  9.39192315 12.23579281  7.39184565  9.81589373 14.56367363
 11.31319402  9.6564338   6.35915775 13.1883032  12.41309987 11.09878669
  9.60058107 11.19513747  9.28447383  8.06391207  8.60622614  9.43927758
  7.2136687  11.63339639  6.7688995  10.61865693  6.20497579  7.04622565
 12.31043035 11.42613243 10.00337061  4.62666965  7.12365698  8.56923814
 11.32854707  8.60025217  7.63215532 10.74307091  9.89171764  9.0339736
  9.55866458 11.88479872  9.87199157 14.05841417 10.08484064 11.05336356
  7.23653575 10.91194077 11.47660407  7.41202174 11.42419242  8.25701873
  8.29918018  8.40817562 12.19850447 10.60061653  7.8822571  11.45071471
  6.67767777 12.64035683 13.69421073  9.05203886  8.61485493  7.33263258
 12.47617337  7.77060007 11.65288679  8.40501967 14.49316122 11.14535237
  9.48717242  8.33154933 10.09687718 11.56410496 10.27212579 11.30655271
 13.20810923 10.87174942 10.62653035 14.09869204  8.13231666 11.12647712
 10.60934036 12.99217203  7.73269668 12.14971444  8.16341459 11.30721708
  7.0640795   9.12305548 10.53443009  9.26307219 10.09699891 10.29403922
  8.80047652 10.41767547  9.91219075 10.07323175  5.04322405  9.01830162
  8.47122674  9.5483901   9.43823835  9.32738802 11.94620702  7.99007012
 10.24180639 13.52732423  9.11665412 10.54267651 10.95921135  8.74515264
 13.09549646  8.20382787 10.02081425  8.27824199  9.75745053  7.07625223
  7.70133923 10.07392862  8.48882573 10.24634082  9.06270058  8.43814793
  9.53983026 10.9926297  10.77431272 15.99588985  6.81306701 11.63580704
  7.97022904 12.95151523  5.18221878  9.90585584  7.10352887  9.53369188
 13.79476515 13.00230562 10.74400241  7.84835219 11.01386076  9.1172171
 10.6123853  11.13744611 11.1383601   6.80988187  6.93617452  9.84504649
  8.90666696  8.50301987 12.85911369  8.76584979  7.86741803  7.44412446
  6.48002569  8.91962786 12.66336558  9.01568544  9.56744326  8.84121314
 11.05282741  9.503009   11.38225944 10.47218733  8.34426776  7.8845256
  9.56995577  9.51444585 12.37754966 10.0415492  10.12442342  6.32789717
 10.55295341  7.71944985  8.27837472 12.74289674 10.63342484 15.09561633
  9.80540215  9.76328648 10.82515744 10.60421158  9.46598369 11.83414477
  8.50008343 11.0955551   8.67870574  6.21643745 11.33350036 11.9987536
  9.83575018 10.8787668   9.82412639  8.36428685  8.6895941   9.4300003
 11.15976265 12.30549268 10.36123518  9.28417957  9.47687619 10.56769285
 11.63192134  8.97966064 11.17213326 11.65688048 12.51518497  5.31594849
 10.84570075  7.49968311 11.34781864  9.80587756 10.91442458  8.18231454
  7.25101194 10.02897531 10.11333512 12.4017031   8.2838676  10.9955549
  6.50288779  6.80904752 11.73893219  9.82964121 10.75788604  9.68465077
 11.21819249 10.31588239 10.00271313  7.50750107  9.37310099 10.02900407
 11.38816981  8.42351269 11.91532626 10.132885    9.32748456 12.38930674
 11.33009444  7.09995313 10.68850685  9.59304182 12.35618428 10.09538924
 11.92457479 14.20899961 12.9402032   9.30319744  8.79228573 11.22463635
 12.48484371 11.69933115 11.17276494 10.79763031 11.57147908  9.17734905
  9.31119019 11.4384442  11.08230279  9.581252   11.7660451  10.65648667
  8.35703529 11.99361621 10.57142651 10.64165749  8.02854181 11.65109112
  9.59648811  9.00854467 10.89624821 11.70135198 12.47436281  8.24932658
  7.04641596 10.61270523  9.09497902 13.59868698  7.93421746  9.00729133
  9.15376682  9.4979332   7.98210492  8.54991827  9.57825909 11.44221541
 10.74102037  8.44696459  8.79299207  7.52357422 13.28484605 12.71256274
  7.8773339   8.79931048  8.51904044 11.1397882  13.02199914  6.75944503
  8.77006702  7.70824218 11.28604244  8.35204935  9.19307165 13.97103607
  8.56400432 10.26633265 10.31401679 11.5437413  10.52079292 10.84711127
  8.09574553 13.17391143  8.37785462 10.03919025  6.72890948 11.15442056
 11.73804157  7.66607964  9.85603955  9.39385885  7.16340412  9.89330659
 11.55610248 12.14093919  9.33015902  9.96711739  8.80116172  5.61803486
 12.53802203 10.27470866  9.03665225 11.85591355 12.8817658  10.22192685
  9.13865346  9.09738954 11.37264902 11.45659336 13.00875976 10.43436405
 10.16151005  9.01254346  8.14979518 16.51674336  7.72402941  8.53821955
  7.94745543 10.80472    12.55423816  9.14973953  6.84218959  7.10759222
 10.91314553 10.36311355  8.73273962  9.38759773 12.06003764  7.64194873
 11.28474953 11.62861634 10.12887768 11.1490685  10.32692045  6.17247763
  8.53636314  9.99248538  9.29708414  9.20425017  8.1393932   9.48680863
  9.66182236  9.97733812  8.76712036 14.42954024 11.21332813  4.8327578
 11.42177018  8.61568025  8.26165489 11.15003486  9.91149655  8.26886287
  8.90559982 10.23037813  8.58259211 11.14069309 10.21829932  7.58645151
  8.9748204   7.92744361 10.31891915  8.58019308 11.52881962  8.00882953
  7.33949937  7.97259273  9.96467926  7.46087379]

In [ ]:

import numpy as np
import pandas as pd
# generating population data following Normal Distribution
N = 10000
mu = 10
std = 2
population_df = np.random.normal(mu,std,N)

# function that creates random sample using Systematic Sampling
def systematic_sampling(df, step):
    id = pd.Series(np.arange(1,len(df),1))
    df = pd.Series(df)
    df_pd = pd.concat([id, df], axis = 1)
    df_pd.columns = ["id", "data"]
    # these indices will increase with the step amount not 1
    selected_index = np.arange(1,len(df),step)
    # using iloc for getting thee data with selected indices
    systematic_sampling = df_pd.iloc[selected_index]
    return(systematic_sampling)

n = 10
step = int(N/n)
sample = systematic_sampling(population_df, step)
sample

          id       data
1        2.0   7.694530
1001  1002.0   8.324987
2001  2002.0  10.669485
3001  3002.0  13.066737
4001  4002.0   9.366836
5001  5002.0  10.693283
6001  6002.0  10.154433
7001  7002.0   6.173543
8001  8002.0  12.592780
9001  9002.0  12.212116

In [ ]:
price_vb = pd.Series(np.random.uniform(1,4,size = n))
id = pd.Series(np.arange(0,len(price_vb),1))
event_type = pd.Series(np.random.choice(["type1","type2","type3"],size = len(price_vb)))
click = pd.Series(np.random.choice([0,1],size = len(price_vb)))
df = pd.concat([id,price_vb,event_type, click],axis = 1)
df.columns = ["id","price","event_type", "click"]
df

        id     price event_type  click
0        0  3.899601      type2      0
1        1  2.412236      type2      1
2        2  3.589215      type2      0
3        3  3.836471      type3      1
4        4  2.313605      type3      1
...    ...       ...        ...    ...
9995  9995  1.300299      type3      0
9996  9996  1.752239      type1      0
9997  9997  1.279528      type3      0
9998  9998  3.767116      type2      0
9999  9999  2.886246      type3      0

[10000 rows x 4 columns]

In [4]:
import numpy as np
import pandas as pd

# Generating Population data 
price_vb = pd.Series(np.random.uniform(1,4,size = 10000))
id = pd.Series(np.arange(0,len(price_vb),1))
event_type = pd.Series(np.random.choice(["type1","type2","type3"],size = len(price_vb)))
click = pd.Series(np.random.choice([0,1],size = len(price_vb)))
df = pd.concat([id,price_vb,event_type, click],axis = 1)
df.columns = ["id","price","event_type", "click"]
df

        id     price event_type  click
0        0  2.023468      type1      1
1        1  3.274736      type3      1
2        2  3.584455      type2      1
3        3  2.409997      type3      1
4        4  2.167135      type1      0
...    ...       ...        ...    ...
9995  9995  3.016551      type2      1
9996  9996  2.790451      type1      1
9997  9997  1.363151      type2      1
9998  9998  1.142703      type2      1
9999  9999  3.443214      type1      1

[10000 rows x 4 columns]

In [5]:
def get_clustered_Sample(df, n_per_cluster, num_select_clusters):
    N = len(df)
    K = int(N/n_per_cluster)
    data = None
    for k in range(K):
        sample_k = df.sample(n_per_cluster)
        sample_k["cluster"] = np.repeat(k,len(sample_k))
        df = df.drop(index = sample_k.index)
        data = pd.concat([data,sample_k],axis = 0)

    random_chosen_clusters = np.random.randint(0,K,size = num_select_clusters)
    samples = data[data.cluster.isin(random_chosen_clusters)]
    return(samples)

sample = get_clustered_Sample(df = df, n_per_cluster = 100, num_select_clusters = 2)
sample

        id     price event_type  click  cluster
236    236  2.343720      type1      1       44
2583  2583  2.566451      type1      1       44
7634  7634  1.245268      type2      1       44
9975  9975  1.775558      type2      0       44
1395  1395  2.635759      type2      0       44
...    ...       ...        ...    ...      ...
9039  9039  3.402228      type3      0       56
9756  9756  1.000630      type1      0       56
7139  7139  3.024043      type1      1       56
1598  1598  1.825499      type3      0       56
1934  1934  2.244193      type3      0       56

[200 rows x 5 columns]

In [7]:
def get_startified_sample(df,n,num_clusters):
    N = len(df)
    num_obs_per_cluster = int(N/n)
    K = int(N/num_obs_per_cluster)

    def get_weighted_sample(df,num_obs_per_cluster):
        def get_sample_per_class(x):
            n_x = int(np.rint(num_obs_per_cluster*len(x[x.click !=0])/len(df[df.click !=0])))
            sample_x = x.sample(n_x)
            return(sample_x)
        weighted_sample = df.groupby("event_type").apply(get_sample_per_class)
        return(weighted_sample)

    stratas = None
    for k in range(K):
        weighted_sample_k = get_weighted_sample(df,num_obs_per_cluster).reset_index(drop = True)
        weighted_sample_k["cluster"] = np.repeat(k,len(weighted_sample_k))
        stratas = pd.concat([stratas, weighted_sample_k],axis = 0)
        df.drop(index = weighted_sample_k.index)
    selected_strata_clusters = np.random.randint(0,K,size = num_clusters)
    stratified_samples = stratas[stratas.cluster.isin(selected_strata_clusters)]
    return(stratified_samples)

sample = get_startified_sample(df = df,n = 100,num_clusters = 2)
sample

      id     price event_type  click  cluster
0   3921  1.058312      type1      1        0
1   2316  1.831825      type1      1        0
2    428  1.275884      type1      1        0
3   7889  1.134959      type1      0        0
4    318  3.478227      type1      0        0
..   ...       ...        ...    ...      ...
95  9708  3.673548      type3      0       80
96  8749  3.950498      type3      1       80
97  7474  1.563833      type3      1       80
98   239  3.123681      type3      1       80
99  2854  1.344725      type3      0       80

[200 rows x 5 columns]